html{
  font-family: 'Montserrat', sans-serif;
  background-color: #f3f9fb;
  font-size: 20px;
}

.headline_1{
  margin: 1%;
}

.main_container{
  min-width: 70%;
  width: calc((1400px - 100%) * 1000);
  max-width: 100%;
  margin: 0 auto;
}

.linkbox_container{
  display:flex;
  flex-wrap: wrap;
}

a[class*="linkbox"]{
  padding: 8px;
  border: 1px solid;
  height:250px;
  margin: 1%;
  text-align: center;
}

.linkbox{
  min-width: 25%;
  width: calc((35px - 100%) * 1000);
  max-width: 100%;
  background-color: #87c0cd;
}

.linkbox_small{
  min-width: 15%;
  width: calc((200px - 100%) * 1000);
  max-width: 100%;
  background-color: #226597;
}

.linkbox_big{
  min-width: 45%;
  width: calc((600px - 100%) * 1000);
  max-width: 100%;
  background-color: #113f67;
}
