html{
  font-family: 'Montserrat', sans-serif;
  background-color: #353535;
  font-size: 20px;
  color:#fff;
}

.logo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid #fff;
  padding: 1rem 0;
  margin-bottom: 2rem;
  text-decoration: none;
  border-top: 2px solid transparent;
}

.logo:hover,
.logo:active,
.logo:focus{
  border-top: 2px solid #fff;
}

.logo img{
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  background-color: #fff;
  margin-right: 1rem;
}

h1{
  font-size: 3.5rem;
}

h2{
  font-size: 2.5rem;
  margin-top: 4rem;
}

h3{
  font-size: 2rem;
}

a{
  color:#fff;
}

footer{
  border-top: 2px solid;
  margin: 2rem 0;
  padding: 1rem 0;
}

.main_container{
  min-width: 65%;
  width: calc((1200px - 100%) * 1000);
  max-width: 100%;
  margin: 0 auto;
}

.linkbox_container{
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li[class*="linkbox"]{
  border: 1px solid;
  height:250px;
  margin: 1%;
  text-align: center;
  display: flex;
}

li[class*="linkbox"] a{
  flex-grow: 1;
  padding: 30px 5px;
  font-size: 1.5rem;
}

li[class*="linkbox"] a:hover{
  outline: 3px solid #fff;
}

.linkbox{
  min-width: 28%;
  width: calc((60em - 100%) * 1000);
  max-width: 100%;
}

.linkbox a{
  background-color: rgba(135, 192, 205, 0.5);
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.linkbox_small{
  min-width: 17%;
  width: calc((60em - 100%) * 1000);
  max-width: 100%;
}

.linkbox_small a{
  background-color: rgba(34, 101, 151, 0.4);
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.linkbox_big{
  min-width: 48%;
  width: calc((60em - 100%) * 1000);
  max-width: 100%;
}

.linkbox_big a{
  background-color: rgba(17, 63, 103, 0.6);
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.content_image{
  min-width: 31%;
  width: calc((975px - 100%) * 1000);
  max-width: 100%;
  margin-right: 10px;
  background-color: #c5c5c5;
}

.pull-right{
  float:right;
}
 h1 small a{
  color: #fff;
  font-size: 45%;
  margin-top: 18px;
}

@media(max-width:400px){
  h1 small {
   display: block;
   font-size: 50%;
   float: inherit;
 }
}
